<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard - LumenCloud</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gray-900 text-white flex min-h-screen">
    <%- include('../components/sidebar') %>
    <main class="flex-grow p-8 sm:ml-64 max-w-7xl mx-auto">
      <div class="mb-8">
        <h1 class="text-3xl font-bold mb-2">Dashboard</h1>
      </div>

      <section class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8">
        <!--Stockage box-->
        <div class="bg-gray-800 rounded-lg p-6 shadow">
          <h3 class="text-xl font-semibold mb-4">Storage space</h3>
          <div class="flex items-center justify-between text-lg">
            <span><%= diskInfo.usedGB %> Go / <%= diskInfo.totalGB %> Go</span>
            <span class="font-bold text-green-400"
              ><%= diskInfo.usedPercent %>%</span
            >
          </div>
          <div class="w-full bg-gray-700 rounded-full h-4 mt-3 overflow-hidden">
            <div
              class="bg-green-400 h-4"
              style="width: <%= diskInfo.usedPercent %>%"
            ></div>
          </div>
        </div>

        <!--Activity box-->
        <div class="bg-gray-800 rounded-lg p-6 shadow">
          <h3 class="text-xl font-semibold mb-4">Recent files</h3>
          <ul class="space-y-2 max-h-48 overflow-y-auto text-gray-300">
            <li class="border-b border-gray-700 pb-2">
              exemple.txt - 2025-07-30 14:20
            </li>
            <li class="border-b border-gray-700 pb-2">
              exemple.txt - 2025-07-30 14:20
            </li>
            <li>exemple.txt - 2025-07-30 14:20</li>
          </ul>
        </div>

        <!--Information box-->
        <div class="bg-gray-800 rounded-lg p-6 shadow">
          <h3 class="text-xl font-semibold mb-4">Information</h3>
          <ul class="space-y-3">
            <li>
              <a class="text-green-400">UserID: <%= userId %></a>
            </li>
            <li>
              <a class="text-green-400">Total Files: <%= totalFiles %></a>
            </li>
          </ul>
        </div>
      </section>
    </main>
  </body>
  <script src="/js/sidebar.js"></script>
</html>
